<div class="service<%= service.id %>">
  <tr>
    <td><li><%= service.church.name %></li></td>
    <td><li><%= service.day_of_week %></li></td>
    <td><li><%= service.start_time %></li></td>
    <td><li><%= service.finish_time %></li></td>
    <td><li><%= service.location %></li></td>
    <td class="text-right"><%= link_to 'more info', service_path(service), class: 'btn btn-default btn-xs' %></td>

    <% if current_user?(service.church.user) %>
      <td class="text-right"><%= link_to 'edit', service_path(service), class: 'btn btn-default btn-xs' %></td>
      <td class="text-right"><%= link_to 'delete', service, method: :delete, class: 'btn btn-danger btn-xs' %></td>
    <% else %>
        <td></td>
        <td></td>
    <% end %>
  </tr>
</div>