<h1>Edit service</h1><br>

<%= render 'shared/errors', object: @service %>

<%= form_for @service do |form| %>
<%= render partial: 'fields', locals: { f: form } %>

<%= form.submit 'Update service profile', class: 'btn btn-success' %>
<%= link_to 'Cancel', church_services_path(@service.church), class: 'btn btn-danger' %>
<% end %>