<h1>Service Page for <%= @service.church.name %></h1>

<p><%= @service.day_of_week %></p>
<p><%= @service.start_time %> - <%= @service.finish_time %></p>
<p><%= @service.location %></p>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Rides</strong></div>
  <table class="table table">
    <th></th>
    <th>Church</th>
    <th>From</th>
    <th>Date</th>
    <th>Leave Time</th>
    <th>Return Time</th>
    <th>Seats Left</th>
    <th>Meeting Location</th>
    <th>Vehicle</th>
    <th></th>
    <th></th>
    <th></th>
    <% if @service.rides.count == 0 %>
        <tr>
          <td colspan="11">There are no rides for this service yet.</td>
        </tr>
    <% else %>
      <%= render @service.rides %>
    <% end %>
  </table>
</div>

<%= form_for [@service, @ride] do |form| %>
<%= render partial: 'rides/fields', locals: { f: form } %><br>
<%= form.submit 'Offer ride', class: 'btn btn-success' %>
<% end %>