<table>
  <col width="150">
  <col width="300">
  <tr>
    <td class="text-right"><%= f.label :date %></td>
    <td><%= f.text_field :date, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :leave_time %></td>
    <td><%= f.text_field :leave_time, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :return_time %></td>
    <td><%= f.text_field :return_time, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :number_of_seats %></td>
    <td><%= f.text_field :number_of_seats, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :seats_available %></td>
    <td><%= f.text_field :seats_available, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :meeting_location %></td>
    <td><%= f.text_field :meeting_location, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :vehicle %></td>
    <td><%= f.text_field :vehicle, class: 'form-control' %></td>
  </tr>
</table>