<h1>Edit ride</h1><br>

<%= render 'shared/errors', object: @ride %>

<%= form_for @ride do |form| %>
<%= render partial: 'fields', locals: { f: form } %>

<%= form.submit 'Update ride profile', class: 'btn btn-success' %>
<%= link_to 'Cancel', service_rides_path(@ride.service), class: 'btn btn-danger' %>
<% end %>