<h1>New Ride</h1><br>

<%= render 'shared/errors', object: @ride %>

<%= form_for [@service, @ride] do |form| %>
<%= render partial: 'fields', locals: { f: form } %>

<%= form.submit 'Create new ride', class: 'btn btn-success' %>
<%= link_to 'Cancel', service_rides_path(@service), class: 'btn btn-danger' %>
<% end %>