<h1>Ride Information</h1><br>

<% if @ride.user == current_user %>
    <p><strong>You are providing</strong></p>
<% end %>
<% if @ride.users.include? current_user %>
    <p><strong>You are riding</strong></p>
<% end %>

<table>
  <col width="150">
  <col width="300">
  <tr>
    <li>
      <td class="text-right"><strong>From:</strong></td>
      <td><%= link_to @ride.user.name, @ride.user, class: 'ride-info' %></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>To:</strong></td>
      <td><%= link_to @ride.service.church.name, @ride.service.church, class: 'ride-info' %></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>Service:</strong></td>
      <td><p class="ride-info"><%= @ride.service.location %> @ <%= @ride.service.start_time %></p></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>Date:</strong></td>
      <td><p class="ride-info"><%= @ride.date %></p></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>Leave Time:</strong></td>
      <td><p class="ride-info"><%= @ride.leave_time %></p></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>Return Time:</strong></td>
      <td><p class="ride-info"><%= @ride.return_time %></p></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>Seats Available:</strong></td>
      <td><p class="ride-info"><%= @ride.seats_available %></p></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>Meeting Location:</strong></td>
      <td><p class="ride-info"><%= @ride.meeting_location %></p></td>
    </li>
  </tr>
  <tr>
    <li>
      <td class="text-right"><strong>Vehicle:</strong></td>
      <td><p class="ride-info"><%= @ride.vehicle %></p></td>
    </li>
  </tr>
</table><br>

<% if current_user and @ride.users.exclude? current_user and @ride.user != current_user %>
    <li><%= button_to "Claim ride", ride_path(@ride, add_to_users: true), method: :patch, class: 'btn btn-success' %></li>
<% end %>