<table>
  <col width="100">
  <col width="300">
  <tr>
    <td class="text-right"><%= f.label :name, "Name" %></td>
    <td><%= f.text_field :name, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :web_site %></td>
    <td><%= f.text_field :web_site, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :description %></td>
    <td><%= f.text_area :description, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :picture %></td>
    <td><%= f.text_field :picture, class: 'form-control' %></td>
  </tr>
  <tr class="header">
    <td class="text-center" colspan="2"><strong>First Service</strong></td>
  </tr>
  <%= f.fields_for :services do |builder| %>
      <tr>
        <td class="text-right"><%= builder.label :day_of_week %></td>
        <td><%= builder.text_field :day_of_week, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="text-right"><%= builder.label :start_time %></td>
        <td><%= builder.text_field :start_time, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="text-right"><%= builder.label :finish_time %></td>
        <td><%= builder.text_field :finish_time, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="text-right"><%= builder.label :location %></td>
        <td><%= builder.text_field :location, class: 'form-control' %></td>
      </tr>
  <% end %>
</table><br>