<h1>Profile Page for <%= @church.name %></h1>
<img src="<%= @church.picture %>">
<% if @church.user == current_user %>
<p>You manage</p>
<% end %>
<% if @church.users.include? current_user %>
    <p>You attend</p>
<% end %>
<p><%= link_to 'official web site', @church.web_site %></p>
<p>Description: <%= @church.description %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title pull-left">
      <strong>Services</strong>
    </h3>
    <%= button_to 'New Service', new_church_service_path(@church), class: 'btn btn-success btn-xs pull-right', method: :get %>
    <div class="clearfix"></div>
  </div>
  <table class="table table">
    <col width="199">
    <col width="199">
    <col width="199">
    <col width="199">
    <col width="199">
    <col width="2">
    <col width="1">
    <col width="2">
    <th>Church Name</th>
    <th>Day of Week</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
    <%= render @church.services %>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Church Attendees</strong></div>
  <table class="table table">
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <%= render @church.users %>
  </table>
</div>

<% if current_user and @church.users.exclude? current_user %>
<p><%= button_to 'Attend this church', user_path(current_user, church_id: @church.id), method: :patch, class: 'btn btn-success' %></p>
<% end %>